#include "alphatest.template"
#include "blendfunc.template"
#include "colorwrite.template"
#include "cullface.template"
#include "depthtest.template"
#include "depthwrite.template"
#include "polygonoffset.template"
#include "stencil.template"
